@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0 !important;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Titillium Web";
  font-size: calc(14px + 2 * ((100vw - 320px) / 1120));
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template: minmax(auto, 100px) 1fr minmax(auto, 112px)/1fr;
  grid-template-areas: "header" "main" "footer";
}

/*.conteiner{
   max-width: 1440px;
   margin: 0 auto;
}*/
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
  background-color: #87509c;
  grid-area: header;
  display: grid;
  align-items: end;
  grid-template: 1fr/minmax(127px, 22.8472222222%) 1fr;
  justify-items: end;
}
.header__logo {
  padding: 0 0 10px 5px;
}
.header__list {
  display: none;
}
@media (min-width: 767px) {
  .header {
    display: grid;
    align-items: end;
    grid-template: 1fr/minmax(127px, 22.8472222222%) 1fr minmax(10px, 13.54%);
    justify-items: end;
  }
  .header__list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    text-transform: uppercase;
    gap: 6px;
    padding: 0 0 12px 0;
    font-weight: 400;
    grid-column: 2/3;
  }
  .header__link {
    padding: 5px 17px;
    color: #ffffff;
  }
  .header__link:hover {
    background-color: #643a79;
    border-radius: 4px;
  }
}
.main {
  grid-area: main;
}

.welcome {
  background-color: #87509c;
  display: grid;
  grid-template: auto minmax(auto, 130px)/1fr 62.9% 1fr;
  padding-bottom: 10.0694444444%;
}
.welcome__text {
  padding-top: 14.8611111111%;
  color: #f7f3ea;
  text-align: center;
  font-weight: 700;
  font-size: calc(20px + 22 * ((100vw - 320px) / 1120));
  grid-column: 2/3;
  line-height: 1.1625em;
}
.welcome__button {
  padding: 2.375% 0;
  width: 32.3399558499%;
  min-height: 50px;
  min-width: 125px;
  background: linear-gradient(to bottom, #eb7d4b 0% 94.29%, #c86a40 94.29%);
  border-radius: 4px;
  text-align: center;
  grid-column: 2/3;
  justify-self: center;
  align-self: end;
}
.welcome__button a {
  color: #ffffff;
  font-weight: 400;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1120));
}

.services {
  color: #ffffff;
  background-color: #17c2a4;
  display: grid;
  grid-template: auto minmax(auto, 1fr)/14.235% 71.52% 14.235%;
  padding: 8.2638888889% 0 8.8888888889% 0;
}
.services img {
  max-width: 100%;
  max-height: 100%;
}
.services__description {
  grid-column: 2/3;
}
.services__title {
  position: relative;
}
.services__title:after {
  content: "";
  position: absolute;
  background-color: #14a58b;
}
.services__text {
  font-size: calc(14px + 4 * ((100vw - 320px) / 1120));
  font-weight: 400;
  line-height: 1.445em;
  text-align: center;
  margin: 0 auto 7.8640776699%;
}
.services__row {
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template: 1fr/repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  justify-content: center;
}
.title {
  font-size: calc(20px + 20 * ((100vw - 320px) / 1120));
  font-weight: 700;
  line-height: 29.91px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0 0 21px 0;
  margin: 0 0 23px 0;
}
.title:after {
  content: "";
  position: absolute;
  width: 87px;
  bottom: 0;
  height: 4px;
  left: 50%;
  margin: 0 0 0 -43px;
}

.item-services {
  display: grid;
  grid-template: minmax(150px, 67.2%) minmax(auto, 20px) auto/1fr;
  grid-auto-flow: row;
  justify-items: center;
  gap: 25px;
}
.item-services__title {
  font-size: calc(16px + 8 * ((100vw - 320px) / 1120));
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  text-align: center;
}
.item-services__text {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;
}

.team {
  background-color: #e7f1f8;
  color: #3c4761;
  display: grid;
  grid-template: auto 1fr/minmax(10px, 14.1666666667%) 72.2222222222% minmax(10px, 14.2361111111%);
  padding: 8.2638888889% 0 8.8888888889% 0;
}
.team__description {
  grid-column: 2/3;
}
.team__title {
  position: relative;
}
.team__title:after {
  content: "";
  position: absolute;
  background-color: #c7d9e5;
}
.team__text {
  width: 62.5%;
  font-size: calc(14px + 5 * ((100vw - 320px) / 1120));
  font-weight: 400;
  line-height: 26.84px;
  margin: 0 auto 7.8640776699%;
  text-align: center;
}
.team__row {
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  -moz-column-gap: 7.6923076923%;
       column-gap: 7.6923076923%;
  row-gap: 20px;
  justify-items: center;
  justify-content: center;
}

.item-team {
  display: grid;
  grid-auto-flow: row;
  grid-template: minmax(auto, 25.4807692308%) auto auto 1fr minmax(auto, 32px)/1fr;
  row-gap: 15px;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  grid-auto-rows: 1fr;
}
.item-team__foto {
  margin: 0 0 26px 0;
  position: relative;
  padding: 0 0 100% 0;
}
.item-team__foto img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-team__name {
  color: #27283d;
  font-size: calc(14px + 10 * ((100vw - 320px) / 1120));
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  text-align: center;
}
.item-team__position {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  color: #30bae7;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.32px;
  justify-self: center;
}
.item-team__text {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;
  margin: 0 0 16px 0;
}
.item-team__social {
  display: grid;
  grid-template-columns: minmax(auto, 32px) minmax(auto, 32px) minmax(auto, 32px);
  grid-auto-flow: column;
  grid-auto-columns: minmax(auto, 32px);
  gap: 5%;
  justify-content: center;
}
.item-team__link {
  position: relative;
  padding: 0 0 100% 0;
}
.item-team__link img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.skills {
  background-color: #ffffff;
  color: #3c4761;
  display: grid;
  grid-template: auto 1fr/minmax(10px, 15.2777777778%) 71.5277777778% minmax(10px, 15.2777777778%);
  padding: 8.2638888889% 0 8.8888888889% 0;
}
.skills__description {
  grid-column: 2/3;
}
.skills__title {
  position: relative;
}
.skills__title:after {
  content: "";
  position: absolute;
  background-color: #dfe8ed;
}
.skills__text {
  font-size: calc(14px + 4 * ((100vw - 320px) / 1120));
  font-weight: 400;
  line-height: 26px;
  margin: 0 auto 7.8640776699%;
  text-align: center;
}
.skills__row {
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  -moz-column-gap: 12%;
       column-gap: 12%;
  row-gap: 30px;
}

.item-skills {
  display: grid;
  grid-template: minmax(auto, 160px) auto/1fr;
  grid-auto-flow: row;
  gap: 32px;
}
.item-skills__circle {
  max-width: 100%;
  height: 100%;
  font-size: calc(36px + 14 * ((100vw - 320px) / 1120));
  font-weight: 300;
  line-height: 20.84px;
  position: relative;
  padding: 0 0 100% 0;
}
.item-skills__circle p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.item-skills__proc {
  font-size: calc(24px + 8 * ((100vw - 320px) / 1120));
}
.item-skills__name {
  font-size: calc(16px + 8 * ((100vw - 320px) / 1120));
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  align-self: center;
  justify-self: center;
}

#item-skills__first {
  background: url(../img/skills/01.png) 0 0/cover no-repeat, url(../img/skills/bg.png) 0 0/cover no-repeat;
}

#item-skills__second {
  background: url(../img/skills/02.png) 0 0/cover no-repeat, url(../img/skills/bg.png) 0 0/cover no-repeat;
}

#item-skills__third {
  background: url(../img/skills/03_1.png) 0 0/cover no-repeat, url(../img/skills/bg.png) 0 0/cover no-repeat;
}

#item-skills__fourth {
  background: url(../img/skills/04.png) 0 0/cover no-repeat, url(../img/skills/bg.png) 0 0/cover no-repeat;
}

.portfolio {
  font-size: calc(14px + 4 * ((100vw - 320px) / 1120));
  font-weight: 400;
  color: #393939;
  background-color: #ffdd99;
  display: grid;
  grid-template: minmax(auto, 200px) minmax(auto, 40px) minmax(auto, 1fr) auto/1fr 76.5972222222% 1fr;
  padding: 8.2638888889% 0 7.5694444444% 0;
}
.portfolio__description {
  grid-column: 2/3;
}
.portfolio__title {
  position: relative;
}
.portfolio__title:after {
  content: "";
  position: absolute;
  background-color: #eac884;
}
.portfolio__text {
  max-width: 570px;
  line-height: 26px;
  margin: 0 auto 42px;
  text-align: center;
}
.portfolio__menu {
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(-webkit-min-content, 90px));
  grid-template-columns: repeat(4, minmax(min-content, 90px));
  gap: 0 10px;
}
.portfolio__link {
  color: #393939;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.36px;
}
.portfolio__link div {
  background-color: #ebcb8d;
  min-width: 90px;
  padding: 12px 0;
  border-radius: 4px;
}
.portfolio__link div:hover {
  background-color: #ffffff;
}
.portfolio__row {
  grid-row: 3/4;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 46.3281958296%));
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: center;
  margin: 0 0 7.5249320036% 0;
}
.portfolio__button {
  justify-self: center;
  grid-row: 4/5;
  grid-column: 2/3;
  width: 293px;
  height: 70px;
  background: linear-gradient(to bottom, #17c2a4 0% 94.29%, #14a58b 94.29%);
  border-radius: 4px;
  text-align: center;
  line-height: 26.19px;
  letter-spacing: 0.27px;
}
.portfolio__button a {
  color: #ffffff;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1120));
  font-weight: 400;
}

.item-portfolio {
  display: grid;
  grid-template: minmax(auto, 311px) 1fr/1fr;
}
.item-portfolio__img {
  position: relative;
}
.item-portfolio__img img {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-portfolio__name {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.36px;
}

.feedback {
  background-color: #d74680;
  color: #ffffff;
  display: grid;
  grid-template: minmax(auto, 119px) minmax(auto, 200px) minmax(auto, 1fr) minmax(auto, 122px)/auto minmax(auto, 1100px) auto;
  font-size: 18px;
  font-weight: 400;
}
.feedback__description {
  grid-row: 2/3;
  grid-column: 2/3;
}
.feedback__title {
  position: relative;
}
.feedback__title:after {
  content: "";
  position: absolute;
  background-color: #b73b6d;
}
.feedback__text {
  max-width: 570px;
  line-height: 26px;
  margin: 0 auto;
  text-align: center;
}
.feedback__row {
  grid-row: 3/4;
  grid-column: 2/3;
  display: grid;
  grid-template: 1fr/repeat(2, 1fr);
  grid-auto-flow: row;
  gap: 150px 120px;
  justify-content: center;
}

.item-feedback {
  display: grid;
  grid-template: minmax(auto, 100px) 1fr/100px 1fr;
  gap: 30px 48px;
  justify-items: center;
  align-items: center;
}
.item-feedback__foto {
  background-color: #787878;
  width: 96px;
  height: 96px;
  border-radius: 50%;
}
.item-feedback__text {
  grid-column: 2/3;
  font-size: 21px;
  font-style: italic;
  line-height: 31.2px;
  text-align: left;
  align-self: end;
  justify-self: start;
}
.item-feedback__name {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  align-self: start;
  justify-self: start;
}
.item-feedback__name p:last-child {
  margin: 10px 0 0 0;
  color: #ffdd99;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

.message {
  background-color: #3c5499;
  color: #ffffff;
  display: grid;
  grid-template: minmax(auto, 119px) minmax(auto, 200px) minmax(auto, 1fr) minmax(auto, 122px)/minmax(auto, 290px) minmax(auto, 1fr) minmax(auto, 290px);
}
.message__description {
  grid-row: 2/3;
  grid-column: 2/3;
}
.message__title {
  position: relative;
}
.message__title:after {
  content: "";
  position: absolute;
  background-color: #273a71;
}
.message__text {
  /* Style for "1600 Penns" */
  max-width: 782px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.36px;
  margin: 0 auto;
}
.message__row {
  grid-row: 3/4;
  grid-column: 2/3;
}
.message__form {
  display: grid;
  grid-template: 60px 1fr 70px/1fr 1fr;
  grid-template-areas: "username usermail" "usermessage usermessage" "button button";
  gap: 27px;
  justify-content: space-between;
}
.message__form div {
  border-radius: 4px;
}
.message__form div input, .message__form div textarea {
  border-radius: 4px;
  background-color: #273a71;
  padding: 22px 0 0 25px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  /*   Не работает
       input [type=text] {
          &::placeholder
          {&::after{
             content: '*';
             color: #ff4444;
             font-family: "Arial MT";
             font-size: 16px;
             font-style: normal;
             letter-spacing: normal;
             line-height: normal;}
          }
       }
   */
}
.message__form div input::-moz-placeholder, .message__form div textarea::-moz-placeholder {
  color: #ffffff;
  /* Style for "Your Name" */
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.message__form div input:-ms-input-placeholder, .message__form div textarea:-ms-input-placeholder {
  color: #ffffff;
  /* Style for "Your Name" */
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.message__form div input::placeholder, .message__form div textarea::placeholder {
  color: #ffffff;
  /* Style for "Your Name" */
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.message__form div textarea {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.message__username {
  grid-area: username;
  max-width: auto;
  min-height: 56px;
  background-color: #273a71;
}
.message__mail {
  background-color: #273a71;
  grid-area: usermail;
  max-width: auto;
  min-height: 56px;
}
.message__message {
  background-color: #273a71;
  grid-area: usermessage;
  max-width: auto;
  min-height: 200px;
}
.message__button {
  grid-area: button;
  width: 293px;
  height: 70px;
  background: linear-gradient(to bottom, #30bae7 0% 94.29%, #299ec4 94.29%);
  border-radius: 4px;
  text-align: center;
  line-height: 26.19px;
  letter-spacing: 0.27px;
  color: #ffffff;
  justify-self: center;
}

.footer {
  grid-area: footer;
  background-color: #344b8e;
  display: grid;
  grid-template: 1fr/minmax(10px, 17.4305555556%) minmax(496px, 1fr) minmax(10px, 17.4305555556%);
}
.footer__menu {
  grid-column: 2/3;
  align-content: center;
  font-size: calc(16px + 8 * ((100vw - 320px) / 1120));
  display: grid;
}
.footer__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, -webkit-min-content));
  grid-template-columns: repeat(auto-fit, minmax(80px, min-content));
  justify-items: start;
  justify-content: space-between;
  font-size: calc(16px + 8 * ((100vw - 320px) / 1120));
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.footer__list li:last-child a {
  padding: 0;
}
.footer__list a {
  color: #ffffff;
  font-weight: 400;
  line-height: 1.869375em;
  letter-spacing: 0.03em;
  padding: 0 50px 0 0;
}
.footer__list li:nth-child(2) a {
  color: #30bae7;
}