@import "nulltags.scss";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900);

body{
font-family: "Titillium Web";
font-size: 16px;

}
.wrapper {
   min-height: 100%;
   display: grid;
   grid-template: minmax(auto, 100px) 1fr minmax(auto, 112px) / 1fr ;
   grid-template-areas: "header"
"main"
"footer";

}

/*.conteiner{
   max-width: 1440px;
   margin: 0 auto;
}*/

.header {
   background-color: #87509c;
   grid-area: header;
   display: grid;
   grid-template: 1fr / minmax(auto,14.72%) minmax(auto,8.33%) minmax(auto, 1fr) minmax(auto, 13.54%);

      &__logo{
      grid-column: 2 / 3;
      align-self: end;

      img{
         width: 100%;
         height: 100%;
      }

      }
		&__menu {
      }

		&__list {
         display: grid;
         grid-auto-flow: column;
         justify-content: end;
         text-transform: uppercase;
         gap: 6px;
         padding: 75px 0 0 0;
         font-weight: 400;
		}

		&__link {
         padding: 5px 17px;
         color: #ffffff;
         &:hover{
            background-color: #643a79;
            border-radius: 4px;
         }
      }
}
.main {
   grid-area: main;
}
.welcome {
   background-color: #87509c;
   display: grid;
   grid-template: minmax(auto, 145px) auto minmax(auto, 130px) minmax(auto, 145px) / minmax(auto, 1fr) minmax(auto, 62.9%) minmax(auto, 1fr);

   &__text {
      color: #f7f3ea;
      text-align: center;
      font-size: 42px;
      font-weight: 700;
      grid-row: 2 / 3; 
      grid-column: 2 / 3;
   }

   &__button {
      width: 293px;
      height: 70px;
      background: linear-gradient(to bottom,#eb7d4b 0% 94.29%, #c86a40 94.29%);
     //background-color: #eb7d4b;
     //box-shadow: inset 0 -4px 0px #c86a40;
      border-radius: 4px;
      text-align: center;
      line-height: 26.19px;
      letter-spacing: 0.27px;
      grid-row: 3/4;
      grid-column: 2/3;
      justify-self: center;
      align-self: end;
      a {
         color: #ffffff;
         font-size: 18px;
         font-weight: 400;
      }
   }
}
.services {
   color: #ffffff;
   background-color: #17c2a4;
   display: grid;
   grid-template: minmax(auto,119px) minmax(auto, 200px) minmax(auto, 1fr) minmax(auto,128px) / 14.235% 71.52% 14.235%;
   
   img{
      max-width: 100%;
      height: 100%;
      
   }

   &__description{
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      
   }

   &__title {
      position: relative;
      &:after{
         content: '';
         position: absolute;
         background-color: #14a58b;
         }
   }

   &__text {
      max-width: 603px;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.36px;
      margin: 0 auto;
   }

   &__row {

      grid-row: 3/4;
      grid-column: 2/3;
      display: grid;
      grid-template: 1fr / repeat(4, 15.27%);
      gap: 10px;
      justify-content: space-between;
   }

   &__column {
      
   }
}
.title {
   font-size: 40px;
   font-weight: 700;
   line-height: 29.91px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 4px;
   padding: 0 0 21px 0;
   margin: 0 0 23px 0;
   &:after{
      content: '';
      position: absolute;
      width: 87px;
      bottom: 0;
      height: 4px;
      left: 50%;
      margin: 0 0 0 -43px;
      }
}
.item-services {
   display: grid;
   grid-template:minmax(auto, 168px) minmax(auto, 20px) minmax(64px, min-content) / 1fr;
   grid-auto-flow:row;
   justify-items: center;
   gap:25px;
   

   &__logo {
      max-height: 100%;
   }

   &__title {
      font-size: 24px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 0.48px;
      text-align: center;
   }

   &__text {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.32px;
      text-align: center;
   }
}

.team {
   background-color: #e7f1f8;
   color: #3c4761;
   display: grid;
   grid-template: minmax(auto,119px) minmax(auto, 200px) minmax(auto, 1fr) minmax(auto,128px) / auto minmax(auto, 1030px) auto;
   
   &__description{
      grid-row: 2 / 3;
      grid-column: 2 / 3;
   }

   &__title {
      position: relative;
      &:after{
         content: '';
         position: absolute;
         background-color: #c7d9e5;
         }
   }

   &__text {
      max-width: 650px;
      font-size: 19px;
      font-weight: 400;
      line-height: 26.84px;
      //letter-spacing: 0.36px;
      margin: 0 auto;
   }

   &__row {
      grid-row: 3/4;
      grid-column: 2/3;
      display: grid;
      grid-template: 1fr / repeat(4, minmax(auto, 200px));
      gap: 10px;
      justify-items: center;
      justify-content: space-between;
   }

   &__column {
      
   }
}

.item-team {
   margin: 0 10px;
   display: grid;
   grid-template:minmax(auto, 200px) minmax(auto, max-content) minmax(auto, max-content) minmax(64px, min-content) / 1fr;
   grid-auto-flow:row;
   justify-items: center;
   gap:15px;
   font-size: 16px;

   &__foto {
      width: 200px;
      height: 200px;
      background-color: #878787;
      border-radius: 50%;
      margin: 0 0 26px 0;
   }

   &__name {
      color: #27283d;
      font-size: 24px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 0.48px;

   }

   &__position{
      color: #30bae7;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.32px;
      
   }

   &__text {
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.32px;
      text-align: center;
      margin: 0 0 16px 0;
   }

   &__social {
   }

   &__link{
      margin: 0 4px;
   }
}
.skills {
   background-color: #ffffff;
   color: #3c4761;
   display: grid;
   grid-template: minmax(auto,119px) minmax(auto, 200px) minmax(auto, 1fr) minmax(auto,122px) / auto minmax(auto, 1030px) auto;
   
   &__description{
      grid-row: 2 / 3;
      grid-column: 2 / 3;
   }

   &__title {
      position: relative;
      &:after{
         content: '';
         position: absolute;
         background-color: #dfe8ed;
         }
   }

   &__text {
      max-width: 570px;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      //letter-spacing: 0.36px;
      margin: 0 auto;
      text-align: center;
   }

   &__row {
      margin: 5px 0 0 0;
      grid-row: 3/4;
      grid-column: 2/3;
      display: grid;
      grid-template: 1fr / repeat(4, minmax(auto, 200px));
      justify-items: center;
      justify-content: space-between;
   }

   &__column {
      
   }
}

.item-skills {
   display: grid;
   grid-template:minmax(auto, 160px) minmax(auto, max-content) / 1fr;
   grid-auto-flow:row;
   justify-items: center;
   align-items: center;
   gap: 32px;

   &__circle {
      width: 160px;
      height: 160px;
      font-size: 50px;
      font-weight: 300;
      line-height: 20.84px;
      position: relative;
      p {
         margin: 0;
         position: absolute;
         top: 50%;
         left: 50%;
         margin-right: -50%;
         transform: translate(-50%, -50%);
      }
   }

   &__proc{
      font-size: 32px;
   }

   &__name {
      font-size: 24px;
      font-weight: 700;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.48px;
   }

}
#item-skills__first{
   background: url(../img/skills/01.png), url(../img/skills/bg.png);
   
}
#item-skills__second{
   background: url(../img/skills/02.png), url(../img/skills/bg.png);
}
#item-skills__third{
   background: url(../img/skills/03.png), url(../img/skills/bg.png);
}
#item-skills__fourth{
   background: url(../img/skills/04.png), url(../img/skills/bg.png);
}

.portfolio {
   font-size: 18px;
   font-weight: 400;
   color: #393939;
   background-color: #ffdd99;
   display: grid;
   grid-template: minmax(auto,119px) minmax(auto, 200px) minmax(auto, 40px) minmax(auto, 1fr) minmax(auto, max-content) minmax(auto,109px) / auto minmax(auto, 1105px) auto;
   justify-items: center;

   &__description{
      grid-row: 2 / 3;
      grid-column: 2 / 3;
   }

   &__title {
      position: relative;
      &:after{
         content: '';
         position: absolute;
         background-color: #eac884;
         }
   }

   &__text {
      max-width: 570px;
      line-height: 26px;
      //letter-spacing: 0.36px;
      margin: 0 auto 42px;
      text-align: center;
   }

   &__menu {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(4, minmax(min-content,90px));
      gap: 0 10px;
   }

   &__link {
      color: #393939;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.36px;
         div {
            background-color: #ebcb8d;
            min-width: 90px;
            padding: 12px 0;
            border-radius: 4px;
            &:hover {
               background-color: #ffffff;
            }
         } 
   }

   &__row {
      padding: 60px 0 0 0;
      grid-row: 4 / 5;
      grid-column: 2 / 3;
      display: grid;
      grid-template: 1fr / repeat(2, 1fr);
      grid-auto-flow: row;
      gap: 60px 20px;
      justify-content: center;
      margin: 0 0 83px 0;
   }

   &__button {
      grid-row: 5 / 6;
      grid-column: 2 / 3;
      width: 293px;
      height: 70px;
      background: linear-gradient(to bottom,#17c2a4 0% 94.29%, #14a58b 94.29%);
     //background-color: #eb7d4b;
     //box-shadow: inset 0 -4px 0px #c86a40;
      border-radius: 4px;
      text-align: center;
      line-height: 26.19px;
      letter-spacing: 0.27px;
         a {
         color: #ffffff;
         font-size: 18px;
         font-weight: 400;
      }
   }
}

.item-portfolio {

   &__img {
      margin: 0 0 30px 0;
   }

   &__name {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.36px;
   }
}
.feedback {
   background-color: #d74680;
   color: #ffffff;
   display: grid;
   grid-template: minmax(auto,119px) minmax(auto, 200px) minmax(auto, 1fr) minmax(auto,122px) / auto minmax(auto, 1100px) auto;
   font-size: 18px;
   font-weight: 400;

   &__description{
      grid-row: 2 / 3;
      grid-column: 2 / 3;
   }

   &__title {
      position: relative;
      &:after{
         content: '';
         position: absolute;
         background-color: #b73b6d;
         }
   }

   &__text {
      max-width: 570px;
      line-height: 26px;
      //letter-spacing: 0.36px;
      margin: 0 auto;
      text-align: center;
   }

   &__row {
      //padding: 60px 0 0 0;
      grid-row: 3 / 4;
      grid-column: 2 / 3;
      display: grid;
      grid-template: 1fr / repeat(2, 1fr);
      grid-auto-flow: row;
      gap: 150px 120px;
      justify-content: center;
      //margin: 0 0 83px 0;
}
}

.item-feedback {
   display: grid;
   grid-template: minmax(auto, 100px) 1fr / 100px 1fr;
   gap: 30px 48px;
   justify-items: center;
   align-items: center;

   &__foto {
      background-color: #787878;
      width: 96px;
      height: 96px;
      border-radius: 50%;
   }

   &__text {
      grid-column: 2 / 3;
      font-size: 21px;
      font-style: italic;
      line-height: 31.2px;
      text-align: left;
      //letter-spacing: 0.35px;
      align-self: end;
      justify-self: start;
   }

   &__name {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      font-size: 24px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      //letter-spacing: 0.48px;
      align-self: start;
      justify-self: start;
         & p:last-child{
            margin:10px 0 0 0;
            color: #ffdd99;
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            //letter-spacing: 0.36px;
      }
   }
}
.message {
   background-color: #3c5499;
   color: #ffffff;
   display: grid;
   grid-template: minmax(auto,119px) minmax(auto, 200px) minmax(auto, 1fr) minmax(auto,122px) / minmax(auto,290px) minmax(auto, 1fr) minmax(auto,290px);
   
   &__description{
      grid-row: 2 / 3;
      grid-column: 2 / 3;
   }

   &__title {
      position: relative;
      &:after{
         content: '';
         position: absolute;
         background-color: #273a71;
         }
   }

   &__text {
      /* Style for "1600 Penns" */
      max-width: 782px;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.36px;
      margin: 0 auto;
   }

   &__row {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
   }

   &__form {
      display: grid;
      grid-template: 60px 1fr 70px / 1fr 1fr; 
      grid-template-areas: 
      "username usermail"
      "usermessage usermessage"
      "button button";
      gap: 27px;
      justify-content: space-between;
      div{
         border-radius: 4px;
         //background-color: #273a71;
         
         input, textarea {
            border-radius: 4px;
            background-color: #273a71;            
            padding: 22px 0 0 25px;
            color: #ffffff;
            font-size: 18px;
            font-weight: 400;
            text-align: left;
            
            &::placeholder {
               color: #ffffff;
               /* Style for "Your Name" */
               font-size: 18px;
               font-weight: 400;
               text-align: left;
               
            }

          /*   Не работает
               input [type=text] {
                  &::placeholder
                  {&::after{
                     content: '*';
                     color: #ff4444;
                     font-family: "Arial MT";
                     font-size: 16px;
                     font-style: normal;
                     letter-spacing: normal;
                     line-height: normal;}
                  }
               }
           */
            
         }
         textarea{
            max-width: 100%;
            width: 100%;
            height: 100%;
         }
      }
      }

   &__username {
      grid-area: username;
      max-width: auto;
      min-height: 56px;
      background-color: #273a71;
   }

   &__mail {
      background-color: #273a71;
      grid-area: usermail;
      max-width: auto;
      min-height: 56px;
   }

   &__message {
      background-color: #273a71;
      grid-area: usermessage;
      max-width: auto;
      min-height: 200px;
      }

   &__button {
      grid-area: button;
      width: 293px;
      height: 70px;
      background: linear-gradient(to bottom,#30bae7 0% 94.29%, #299ec4 94.29%);
     //background-color: #eb7d4b;
     //box-shadow: inset 0 -4px 0px #c86a40;
      border-radius: 4px;
      text-align: center;
      line-height: 26.19px;
      letter-spacing: 0.27px;
      color: #ffffff;
      justify-self: center;
   }
}

.footer {
   grid-area: footer;
   background-color: #344b8e;
   display: grid;
   align-content: center;

   &__menu {
   display: grid;
   grid-template: 1fr / minmax(auto, 251px) 1fr minmax(auto, 251px);
   }

   &__list {
      grid-column: 2 / 3;
      display: grid;
      grid-row: 1fr;
      grid-auto-flow: column;
      
      
      justify-items: center;
      
      a {
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      line-height: 29.91px;
      letter-spacing: 0.48px;
      }
      li:nth-child(2) {
         a {
         color: #30bae7;
         }
      }
   }

   &__link {  
   }
}


