@import "nulltags.scss";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900);
@import "_mixsins.scss";
@import "_math_units.scss";



body{
font-family: "Titillium Web";
//font-size: 16px;
@include adaptiv-font(16, 14);
}

body._lock{
   overflow: hidden;
}

.wrapper {
   min-height: 100%;
   display: grid;
   grid-template: 100px 1fr 112px / 1fr ;
   grid-template-areas: "header"
"main"
"footer";
}

.header {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100px;
   z-index: 10;
   background-color: #87509c;
   grid-area: header;
   display: grid;
   align-items: end;
   grid-template: 1fr / minmax(10px, 127px) minmax(auto, 1033px) 1fr;
   justify-items: end;

      &__burger{
         display: none;
      }

      &__logo{
      //justify-self: end;
      padding: 0 0 10px 5px;
      z-index: 5;

     // img{
         //max-width: 100%;
        // min-width: 77px;
         //min-height: 23px;
         //overflow: hidden;
         //object-fit: bottom right;}
         
      
   }

		&__menu {
         
      }

		&__list {
         //display: none;
		}

		&__link {
         color: #ffffff;
      }
}

@media (min-width: 767px) {
   .header {
      display: grid;
      align-items: end;
      grid-template: 1fr / minmax(127px, prc(329, 1440)) 1fr minmax(10px,13.54%);
      justify-items: end;

      &__list{
         display: grid;
         
         //grid-auto-flow: column;
         //justify-content: end;
         grid-template-columns: repeat(5, auto);
         text-transform: uppercase;
         gap: 6px;
         padding: 0 0 12px 0;
         font-weight: 400;
         grid-column: 2 / 3 ;
      }

      &__link {
         padding: 5px 17px;
         color: #ffffff;
         &:hover{
            background-color: #643a79;
            border-radius: 4px;
         }
      }
   }
}

@media (max-width: 767px){
   .header__burger{
      z-index: 5;
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      margin: 0 15px 15px 0;
   }

   .header__burger._active span{
      transform: scale(0) translate(0px, -50%);
   }

   .header__burger._active::before{
      top: 45%;
      transform: rotate(-45deg) translate(0px, -50%);
   }

   .header__burger._active::after{
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
   }

   .header__burger span,
   .header__burger::after,
   .header__burger::before{
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #fff;
   }
   .header__burger::after,
   .header__burger::before{
      content: '';
   }
   .header__burger::after{
      bottom: 0;
   }
   .header__burger::before{
      top: 0;
   }
   .header__burger span{
      top: 50%;
      transform: scale(1) translate(0px, -50%);
   }
   .header__menu{
      position: fixed;
      top:0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 120px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      overflow: auto;
   }

   .header__menu._active {
      left: 0;
   }

   .header__menu::before{
      content: "";
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 100px;
      background-color: #87509c;
      z-index: 2;
   }

   .header__list > li {
      margin: 0 0 30px 0;
   }
   .header__list > li:last-child{
      margin: 0;
   }
   .header__link{
      font-size: 24px;
   }

}

.main {
   grid-area: main;
}
.welcome {
   background-color: #87509c;
   display: grid;
   grid-template: auto minmax(auto, 130px) / minmax(10px, auto) minmax(auto, 906px) minmax(10px, auto);
   padding-bottom: prc(145, 1440);
   
   &__text {
      padding-top: prc(214, 1440);
      color: #f7f3ea;
      text-align: center;
      //font-size: 42px;
      font-weight: 700;
      @include adaptiv-font(42, 20);
      grid-column: 2 / 3;
      line-height: em(18.6);
   }

   &__button {
      padding: 2.375% 0;
      width: prc(293, 906);
      min-height: 50px;
      min-width: 125px;
      background: linear-gradient(to bottom,#eb7d4b 0% 94.29%, #c86a40 94.29%);
     //background-color: #eb7d4b;
     //box-shadow: inset 0 -4px 0px #c86a40;
      border-radius: 4px;
      text-align: center;
      //line-height: em(26.19);
      //letter-spacing: em(0.27);
      
      grid-column: 2/3;
      justify-self: center;
      align-self: end;
      a {
         color: #ffffff;
         //font-size: 18px;
         font-weight: 400;
         @include adaptiv-font(18, 12);
      }
   }
}
.services {
   color: #ffffff;
   background-color: #17c2a4;
   display: grid;
   grid-template:  auto minmax(auto, 1fr)  / minmax(10px, 1fr) minmax(auto, 1030px) minmax(10px, 1fr);
   padding: prc(119,1440) 0 prc(128,1440) 0;

   img{
      max-width: 100%;
      max-height: 100%;
      
   }

   &__description{
      grid-column: 2 / 3;
   }

   &__title {
      position: relative;
      &:after{
         content: '';
         position: absolute;
         background-color: #14a58b;
         }
   }

   &__text {
      //width: prc(603, 1030);
      //font-size: 18px;
      @include adaptiv-font(18, 14);
      font-weight: 400;
      line-height: em(23.12);
      text-align: center;
      //letter-spacing: 0.36px;
      margin: 0 auto prc(81, 1030);
   }

   &__row {

      grid-row: 2 / 3;
      grid-column: 2 / 3;
      display: grid;
      grid-template: 1fr / repeat(auto-fit, minmax(200px, 1fr));
      row-gap: 15px;
      column-gap: 70px;
      justify-content: center;
   }

   &__column {
      
   }
}

@media (max-width: 1029px) and (min-width: 490px) {
   .services__row{
      grid-template-columns: repeat(2, minmax(200px, 1fr));
      grid-auto-flow: row;
   }
}
.title {
   //font-size: 40px;
   @include adaptiv-font(40, 20);
   font-weight: 700;
   line-height: 29.91px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: em(1.6);
   padding: 0 0 21px 0;
   margin: 0 0 23px 0;
   &:after{
      content: '';
      position: absolute;
      width: 87px;
      bottom: 0;
      height: 4px;
      left: 50%;
      margin: 0 0 0 -43px;
      }
}
.item-services {
   display: grid;
   grid-template:minmax(150px, prc(168, 250)) minmax(auto, 20px) auto / 1fr;
   grid-auto-flow:row;
   justify-items: center;
   gap: 25px;
   

   &__logo {
      //max-height: 100%;
      //max-width: 100%
   }

   &__title {
      //font-size: 24px;
      @include adaptiv-font(24, 16);
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 0.48px;
      text-align: center;
   }

   &__text {
      //font-size: 16px;
      @include adaptiv-font(16, 12);
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.32px;
      text-align: center;
   }
}

.team {
   background-color: #e7f1f8;
   color: #3c4761;
   display: grid;
   grid-template: auto 1fr / minmax(10px, 1fr) minmax(auto, 1040px) minmax(10px, 1fr);
   padding: prc(119,1440) 0 prc(128,1440) 0;

   &__description{
      
      grid-column: 2 / 3;
   }

   &__title {
      position: relative;
      &:after{
         content: '';
         position: absolute;
         background-color: #c7d9e5;
         }
   }

   &__text {
      width: prc(650,1040);
      //font-size: 19px;
      @include adaptiv-font(19, 14);
      font-weight: 400;
      line-height: 26.84px;
      //letter-spacing: 0.36px;
      margin: 0 auto prc(81, 1030);
      text-align: center;
   }

   &__row {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      column-gap: 80px;
      row-gap: 20px;
      justify-items: center;
      justify-content: center;
      grid-auto-flow: row;
   }
}

@media (max-width: 1059px) and (min-width: 500px) {
   .team__row{
      grid-template-columns: repeat(2, minmax(200px, 1fr));
      grid-auto-flow: row;
   }
}

.item-team {
   display: grid;
   grid-auto-flow:row;
   grid-template: auto auto auto 1fr minmax(auto,32px) / 1fr;
   //justify-items: center;
   row-gap: 15px;
   //font-size: 16px;
   @include adaptiv-font(16, 12);
   grid-auto-rows: 1fr;

   &__foto {
      //background-color: #878787;
      //border-radius: 50%;
      margin: 0 0 26px 0;
     // position: relative;
     justify-self: center;
      img {
         
         //height: 100%;
         object-fit: cover;
         border-radius: 50%;
         //position: absolute;
        // top: 0;
        // left:0;
         min-width: 100%;
         min-height: 100%;
         width: 200px;
         height: 200px;
      }
   }

   &__name {
      color: #27283d;
      //font-size: 24px;
      @include adaptiv-font(21, 14);
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase;
      letter-spacing: 0.48px;
      //justify-self: center;
      text-align: center;
   }

   &__position{
      @include adaptiv-font(16, 12);
      color: #30bae7;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.32px;
      justify-self: center;
      
   }

   &__text {
      @include adaptiv-font(16, 12);
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.32px;
      text-align: center;
      margin: 0 0 16px 0;
   }

   &__social {
      //position: relative;
      
      display: grid;
      grid-template-columns: minmax(auto, 32px) minmax(auto, 32px) minmax(auto, 32px);
      grid-auto-flow: column;
      grid-auto-columns: minmax(auto, 32px);
      gap: prc(10, 200);
      justify-content: center;
      
      //padding: 0 0 25% 0;
   }

   &__link{
      
      position: relative;
      padding: 0 0 100% 0;
      
      img {
         //object-fit: cover;
         //border-radius: 50%;
         position: absolute;
         top: 0;
         left:0;
         width: 100%;
         height: 100%;
      }
     // margin: 0 prc(4, 200);
   }
}

.skills {
   background-color: #ffffff;
   color: #3c4761;
   display: grid;
   grid-template: auto 1fr / minmax(10px, 1fr) minmax(auto, 1030px) minmax(10px, 1fr);
   padding: prc(119,1440) 0 prc(128,1440) 0;
   //justify-items: center;

   &__description{
      
      grid-column: 2 / 3;
   }

   &__title {
      position: relative;
      &:after{
         content: '';
         position: absolute;
         background-color: #dfe8ed;
         }
   }

   &__text {
      //width: prc(570,1030);
      //font-size: 18px;
      @include adaptiv-font(18,14);
      font-weight: 400;
      line-height: 26px;
      //letter-spacing: 0.36px;
      margin: 0 auto prc(81, 1030);
      text-align: center;
   }

   &__row {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      column-gap: prc(120, 1000);
      row-gap: 30px;
      //justify-content: center;
      
   }

}
@media (max-width: 1019px) and (min-width: 384px) {
   .skills__row{
      grid-template-columns: repeat(2, minmax(160px, 1fr));
      grid-auto-flow: row;
      justify-content: end;
   }
}

.item-skills {
   display: grid;
   grid-template: minmax(auto, 160px) auto / 1fr;
   grid-auto-flow:row;
   justify-items: center;
   //align-items: center;
   gap: 32px;

   &__circle {
      width: 160px;
      height: 160px;
      //font-size: 50px;
      @include adaptiv-font(50, 36);
      font-weight: 300;
      line-height: 20.84px;

      position: relative;
      //padding: 0 0 100% 0;
      p {
         margin: 0;
         position: absolute;
         top: 50%;
         left: 50%;
         margin-right: -50%;
         transform: translate(-50%, -50%);
      }
   }

   &__proc{
      //font-size: 32px;
      @include adaptiv-font (32, 24);
   }

   &__name {
      //font-size: 24px;
      @include adaptiv-font(24,16);
      font-weight: 700;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.48px;
      align-self: center;
      justify-self: center;
   }

}
#item-skills__first{
   background: url(../img/skills/01.png) 0 0/cover no-repeat, url(../img/skills/bg.png) 0 0/cover no-repeat;
}
#item-skills__second{
   background: url(../img/skills/02.png) 0 0/cover no-repeat, url(../img/skills/bg.png) 0 0/cover no-repeat;
}
#item-skills__third{
   background: url(../img/skills/03_1.png) 0 0/cover no-repeat, url(../img/skills/bg.png) 0 0/cover no-repeat;
}
#item-skills__fourth{
   background: url(../img/skills/04.png) 0 0/cover no-repeat, url(../img/skills/bg.png) 0 0/cover no-repeat;
}

.portfolio {
   //font-size: 18px;
   @include adaptiv-font(18, 14);
   font-weight: 400;
   color: #393939;
   background-color: #ffdd99;
   display: grid;
   grid-template: auto minmax(auto, 40px)  1fr auto / minmax(10px, 1fr) minmax(auto, 1103px) minmax(10px, 1fr);
   //justify-items: center;
   padding: prc(119,1440) 0 prc(109,1440) 0;

   &__description{
      grid-column: 2 / 3;
   }

   &__title {
      position: relative;
      &:after{
         content: '';
         position: absolute;
         background-color: #eac884;
         }
   }

   &__text {

      //letter-spacing: 0.36px;
      line-height: 26px;
      margin: 0 auto 42px;
      text-align: center;
   }

   &__menu {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(4, minmax(60px, 90px));
      gap: 0 10px;
   }

   &__link {
      color: #393939;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.36px;
         div {
            background-color: #ebcb8d;
            min-width: 60px;
            max-width: 90px;
            padding: 12px 0;
            border-radius: 4px;
            &:hover {
               background-color: #ffffff;
            }
         } 
   }

   &__row {
      padding: 60px 0 0 0;
      grid-row: 3 / 4;
      grid-column: 2 / 3;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, prc(511, 1103)));
      //grid-auto-flow: row;
      column-gap: 20px;
      //row-gap: 30px;
      justify-content: center;
      margin: 0 0 prc(83,1103) 0;
   }

   &__button {
      justify-self: center;
      grid-row: 4 / 5;
      grid-column: 2 / 3;
      padding: 2.375% 0;
      width: prc(293, 906);
      min-height: 50px;
      min-width: 125px;
      background: linear-gradient(to bottom,#17c2a4 0% 94.29%, #14a58b 94.29%);
     //background-color: #eb7d4b;
     //box-shadow: inset 0 -4px 0px #c86a40;
      border-radius: 4px;
      text-align: center;

      a {
         color: #ffffff;
         //font-size: 18px;
         @include adaptiv-font(18, 12);
         font-weight: 400;
      }
   }
}

.item-portfolio {

      display: grid;
      grid-template: minmax(150px, 200px) 14px / 1fr;
      row-gap: 15px;

   &__img {
      max-width: 541px;
      max-height: 311px;
      position: relative;
      //padding: 0 0 25% 0;

      img{
         object-fit: contain;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         max-width: 541px;
         max-height: 311px;;
      }
   }

   &__name {
      //justify-self: center;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.36px;
      
   }
}

@media (min-width: 861px) {
.item-portfolio {
   display: grid;
   grid-template: minmax(150px, 311px) minmax(14px, auto) / minmax(200px, 541px);
   row-gap: 0;
}
   .item-portfolio__name{
      
      padding: prc(30,541) 0 0 0;
   }
.portfolio__row{
   justify-items: center;
   margin: 0 0 prc(83,1103) 0;
   row-gap: 60px;
}
}

.feedback {
   background-color: #d74680;
   color: #ffffff;
   display: grid;
   grid-template: auto minmax(auto, 1fr) / minmax(10px, auto) minmax(auto, 1100px) minmax(10px, auto);
   //font-size: 18px;
   @include adaptiv-font(18, 14);
   font-weight: 400;
   padding: prc(119,1440) 0 prc(122,1440) 0;

   &__description{
      grid-column: 2 / 3;
   }

   &__title {
      position: relative;
      &:after{
         content: '';
         position: absolute;
         background-color: #b73b6d;
         }
   }

   &__text {
      //max-width: 570px;
      line-height: 26px;
      //letter-spacing: 0.36px;
      margin: 0 auto prc(81, 1030);
      text-align: center;
   }

   &__row {
      //padding: 60px 0 0 0;
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(511px, 1fr));
      grid-auto-flow: row;
      column-gap: 70px;
      row-gap: 147px;
      justify-content: center;
      //margin: 0 0 83px 0;
}
}

.item-feedback {
   display: grid;
   grid-template: minmax(100px,auto) 1fr / 100px minmax(85px, auto);
   gap: 30px 48px;
   justify-items: center;
   align-items: center;
   //grid-auto-flow: row;

   &__foto {
      width: 100px;
      height: 100px;
      align-self: start;
      img{
         border-radius: 50%;

      }
   }

   &__text {
      grid-column: 2 / 3;
      //font-size: 21px;
      @include adaptiv-font(21, 14);
      font-style: italic;
      line-height: 31.2px;
      text-align: left;
      //letter-spacing: 0.35px;
      align-self: start;
      justify-self: start;
   }

   &__name {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      //font-size: 24px;
      @include adaptiv-font(24, 16);
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      //letter-spacing: 0.48px;
      align-self: start;
      justify-self: start;
         & p:last-child{
            margin:10px 0 0 0;
            color: #ffdd99;
            //font-size: 18px;
            @include adaptiv-font(18, 12);
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            //letter-spacing: 0.36px;
      }
   }
}

@media (max-width: 1111px){
   .feedback__row{
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      column-gap: 70px;
      row-gap: 147px;
   }
}
@media (max-width: 889px){
   .feedback__row{
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      column-gap: 70px;
      row-gap: 50px;
   }
   .feedback__text{
      margin: 0 auto 40px;
   }
   .item-feedback {
      gap: 15px;
   }
}
@media (max-width: 555px){
   .feedback__row{
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      column-gap: 70px;
      row-gap: 50px;
   }
}

.message {
   background-color: #3c5499;
   color: #ffffff;
   display: grid;
   grid-template: auto 1fr / minmax(10px, 1fr) minmax(auto, 860px) minmax(10px, 1fr);
   padding: prc(119,1440) 0 prc(128,1440) 0;

   &__description{
      
      grid-column: 2 / 3;
   }

   &__title {
      position: relative;
      &:after{
         content: '';
         position: absolute;
         background-color: #273a71;
         }
   }

   &__text {
      /* Style for "1600 Penns" */
      //max-width: 782px;
      //font-size: 18px;
      @include adaptiv-font(18, 14);
      font-weight: 400;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.36px;
      margin: 0 auto prc(81, 1030);
   }

   &__row {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
   }

   &__form {
      display: grid;
      grid-template: 60px 1fr 70px / 1fr 1fr; 
      grid-template-areas: 
      "username usermail"
      "usermessage usermessage"
      "button button";
      gap: 27px;
      justify-content: space-between;
      position: relative;
         &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(6, 2, 19, 0.9) url('../img/message/loading_1.gif') center / 50px no-repeat;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease 0s;
         }
         &._sending::after{
         opacity: 1;
         visibility: visible;
         }
   }

   input, textarea {
      background-color: #273a71;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      text-align: left;
      width: 100%;
      height: 100%;
      padding: 5px 0 0 10px;
      border-radius: 4px;
      


      &::placeholder {
         color: #ffffff;
         font-size: 18px;
         font-weight: 400;
         text-align: left;
         padding: 5px 0 0 10px;
      }
   }

   input._error{
      box-shadow: 0 0 15px red;
   }

   textarea {
      //max-width: auto;
      width: 100%;
      height: 100%;
      resize: vertical;
   }

   &__item {

      }


   &__username {
      grid-area: username;
      width: 100%;
      min-height: 56px;
   }

   &__mail {
      grid-area: usermail;
      width: 100%;;
      min-height: 56px;
      
   }

   &__message {
      grid-area: usermessage;
      width: 100%;
      min-height: 200px;
      }

   &__button {
      grid-area: button;
      padding: 2.375% 0;
      width: prc(293, 906);
      min-height: 50px;
      min-width: 125px;
      background: linear-gradient(to bottom,#30bae7 0% 94.29%, #299ec4 94.29%);
     //background-color: #eb7d4b;
     //box-shadow: inset 0 -4px 0px #c86a40;
      border-radius: 4px;
      text-align: center;
      line-height: 26.19px;
      letter-spacing: 0.27px;
      color: #ffffff;
      justify-self: center;
   }
}



@media (max-width: 767px){
   .message__form{
      display: grid;
      grid-template: 60px 60px 1fr 60px / 1fr; 
      grid-template-areas: 
      "username"
      "usermail"
      "usermessage"
      "button";
      gap: 27px;
   }
}


.footer {
   display: grid;
   grid-area: footer;
  // width: 100%;
   background-color: #344b8e;
   grid-template-columns: minmax(10px, 1fr) minmax(auto, 938px) minmax(10px, 1fr);

   /*&__menu {
   grid-column: 2 / 3;
   align-content: center;
   @include adaptiv-font(24, 16);
   display: grid;
   grid-template-columns: 1fr;
   }*/

   &__list {
      grid-column: 2 / 3;
      display: grid;
      align-content: center;
      //grid-row: 1fr;
      grid-auto-flow: row;
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
      justify-items: center;
      justify-content: center;
      @include adaptiv-font(24, 16);
      //font-size: 24px;
      column-gap: 40px;
      
      /*li:last-child{
        a{padding: 0;}
      }*/
   
      a {
      color: #ffffff;
      //font-size: 24px;
      font-weight: 400;
      line-height: em(29.91);
      letter-spacing: em(0.48);
      //padding: 0 50px 0 0;
      }
      li:nth-child(2) {
         a {
         color: #30bae7;
         }
      }

   &__link {  
   }
}
}

@media (max-width: 459px){
   .footer__list li:last-child{
      grid-column: 2/3;
   }
}