@import "nulltags.scss";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900);
@import "_mixsins.scss";
@import "_math_units.scss";



body{
font-family: "Titillium Web";
//font-size: 16px;
@include adaptiv-font(16, 14);
}

body._lock{
   overflow: hidden;
}

.wrapper {
   min-height: 100%;
   display: grid;
   grid-template: 100px 1fr minmax(auto, 112px) / 1fr ;
   grid-template-areas: "header"
"main"
"footer";
}

/*.conteiner{
   max-width: 1440px;
   margin: 0 auto;
}*/

.header {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100px;
   z-index: 10;
   background-color: #87509c;
   grid-area: header;
   display: grid;
   align-items: end;
   grid-template: 1fr / minmax(127px, prc(329, 1440)) 1fr;
   justify-items: end;

      &__burger{
         display: none;
      }

      &__logo{
      //justify-self: end;
      padding: 0 0 10px 5px;
      z-index: 5;

     // img{
         //max-width: 100%;
        // min-width: 77px;
         //min-height: 23px;
         //overflow: hidden;
         //object-fit: bottom right;}
         
      
   }

		&__menu {
         
      }

		&__list {
         //display: none;
		}

		&__link {
         color: #ffffff;
      }
}

@media (min-width: 767px) {
   .header {
      display: grid;
      align-items: end;
      grid-template: 1fr / minmax(127px, prc(329, 1440)) 1fr minmax(10px,13.54%);
      justify-items: end;

      &__list{
         display: grid;
         
         //grid-auto-flow: column;
         //justify-content: end;
         grid-template-columns: repeat(5, auto);
         text-transform: uppercase;
         gap: 6px;
         padding: 0 0 12px 0;
         font-weight: 400;
         grid-column: 2 / 3 ;
      }

      &__link {
         padding: 5px 17px;
         color: #ffffff;
         &:hover{
            background-color: #643a79;
            border-radius: 4px;
         }
      }
   }
}

@media (max-width: 767px){
   .header__burger{
      z-index: 5;
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      margin: 0 15px 15px 0;
   }

   .header__burger._active span{
      transform: scale(0) translate(0px, -50%);
   }

   .header__burger._active::before{
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
   }

   .header__burger._active::after{
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
   }

   .header__burger span,
   .header__burger::after,
   .header__burger::before{
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #fff;
   }
   .header__burger::after,
   .header__burger::before{
      content: '';
   }
   .header__burger::after{
      bottom: 0;
   }
   .header__burger::before{
      top: 0;
   }
   .header__burger span{
      top: 50%;
      transform: scale(1) translate(0px, -50%);
   }
   .header__menu{
      position: fixed;
      top:0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 120px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      overflow: auto;
   }

   .header__menu._active {
      left: 0;
   }

   .header__menu::before{
      content: "";
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 100px;
      background-color: #87509c;
      z-index: 2;
   }

   .header__list > li {
      margin: 0 0 30px 0;
   }
   .header__list > li:last-child{
      margin: 0;
   }
   .header__link{
      font-size: 24px;
   }

}

.main {
   grid-area: main;
}
.welcome {
   background-color: #87509c;
   display: grid;
   grid-template: auto minmax(auto, 130px) / 1fr 62.9% 1fr;
   padding-bottom: prc(145, 1440);
   &__text {
      padding-top: prc(214, 1440);
      color: #f7f3ea;
      text-align: center;
      //font-size: 42px;
      font-weight: 700;
      @include adaptiv-font(42, 20);
      grid-column: 2 / 3;
      line-height: em(18.6);
   }

   &__button {
      padding: 2.375% 0;
      width: prc(293, 906);
      min-height: 50px;
      min-width: 125px;
      background: linear-gradient(to bottom,#eb7d4b 0% 94.29%, #c86a40 94.29%);
     //background-color: #eb7d4b;
     //box-shadow: inset 0 -4px 0px #c86a40;
      border-radius: 4px;
      text-align: center;
      //line-height: em(26.19);
      //letter-spacing: em(0.27);
      
      grid-column: 2/3;
      justify-self: center;
      align-self: end;
      a {
         color: #ffffff;
         //font-size: 18px;
         font-weight: 400;
         @include adaptiv-font(18, 12);
      }
   }
}
.services {
   color: #ffffff;
   background-color: #17c2a4;
   display: grid;
   grid-template:  auto minmax(auto, 1fr)  / 14.235% 71.52% 14.235%;
   padding: prc(119,1440) 0 prc(128,1440) 0;

   img{
      max-width: 100%;
      max-height: 100%;
      
   }

   &__description{
      grid-column: 2 / 3;
   }

   &__title {
      position: relative;
      &:after{
         content: '';
         position: absolute;
         background-color: #14a58b;
         }
   }

   &__text {
      //width: prc(603, 1030);
      //font-size: 18px;
      @include adaptiv-font(18, 14);
      font-weight: 400;
      line-height: em(23.12);
      text-align: center;
      //letter-spacing: 0.36px;
      margin: 0 auto prc(81, 1030);
   }

   &__row {

      grid-row: 2 / 3;
      grid-column: 2 / 3;
      display: grid;
      grid-template: 1fr / repeat(auto-fit, minmax(200px, 1fr));
      gap: 15px;

      justify-content: center;
   }

   &__column {
      
   }
}
.title {
   //font-size: 40px;
   @include adaptiv-font(40, 20);
   font-weight: 700;
   line-height: 29.91px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: em(1.6);
   padding: 0 0 21px 0;
   margin: 0 0 23px 0;
   &:after{
      content: '';
      position: absolute;
      width: 87px;
      bottom: 0;
      height: 4px;
      left: 50%;
      margin: 0 0 0 -43px;
      }
}
.item-services {
   display: grid;
   grid-template:minmax(150px, prc(168, 250)) minmax(auto, 20px) auto / 1fr;
   grid-auto-flow:row;
   justify-items: center;
   gap: 25px;
   

   &__logo {
      //max-height: 100%;
      //max-width: 100%
   }

   &__title {
      //font-size: 24px;
      @include adaptiv-font(24, 16);
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 0.48px;
      text-align: center;
   }

   &__text {
      //font-size: 16px;
      @include adaptiv-font(16, 12);
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.32px;
      text-align: center;
   }
}

.team {
   background-color: #e7f1f8;
   color: #3c4761;
   display: grid;
   grid-template: auto 1fr / minmax(10px, prc(204, 1440)) prc(1040, 1440) minmax(10px, prc(205,1440));
   padding: prc(119,1440) 0 prc(128,1440) 0;

   &__description{
      
      grid-column: 2 / 3;
   }

   &__title {
      position: relative;
      &:after{
         content: '';
         position: absolute;
         background-color: #c7d9e5;
         }
   }

   &__text {
      width: prc(650,1040);
      //font-size: 19px;
      @include adaptiv-font(19, 14);
      font-weight: 400;
      line-height: 26.84px;
      //letter-spacing: 0.36px;
      margin: 0 auto prc(81, 1030);
      text-align: center;
   }

   &__row {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
      column-gap: prc(80, 1040);
      row-gap: 20px;
      justify-items: center;
      justify-content: center;
   }

}

.item-team {
   display: grid;
   grid-auto-flow:row;
   grid-template: minmax(auto, prc(265, 1040))  auto auto 1fr minmax(auto,32px) / 1fr;
   //justify-items: center;
   row-gap: 15px;
   //font-size: 16px;
   @include adaptiv-font(16, 12);
   grid-auto-rows: 1fr;

   &__foto {
      //background-color: #878787;
      //border-radius: 50%;
      margin: 0 0 26px 0;
      position: relative;
      padding: 0 0 100% 0;
      
      img {
         
         //height: 100%;
         object-fit: cover;
         border-radius: 50%;
         position: absolute;
         top: 0;
         left:0;
         width: 100%;
         height: 100%;

      }
   }

   &__name {
      color: #27283d;
      //font-size: 24px;
      @include adaptiv-font(24, 14);
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase;
      letter-spacing: 0.48px;
      //justify-self: center;
      text-align: center;
   }

   &__position{
      @include adaptiv-font(16, 12);
      color: #30bae7;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.32px;
      justify-self: center;
      
   }

   &__text {
      @include adaptiv-font(16, 12);
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.32px;
      text-align: center;
      margin: 0 0 16px 0;
   }

   &__social {
      //position: relative;
      
      display: grid;
      grid-template-columns: minmax(auto, 32px) minmax(auto, 32px) minmax(auto, 32px);
      grid-auto-flow: column;
      grid-auto-columns: minmax(auto, 32px);
      gap: prc(10, 200);
      justify-content: center;
      
      //padding: 0 0 25% 0;
   }

   &__link{
      
      position: relative;
      padding: 0 0 100% 0;
      
      img {
         //object-fit: cover;
         //border-radius: 50%;
         position: absolute;
         top: 0;
         left:0;
         width: 100%;
         height: 100%;
      }
     // margin: 0 prc(4, 200);
   }
}

.skills {
   background-color: #ffffff;
   color: #3c4761;
   display: grid;
   grid-template: auto 1fr / minmax(10px, prc(220, 1440)) prc(1030, 1440) minmax(10px, prc(220, 1440));
   padding: prc(119,1440) 0 prc(128,1440) 0;
   //justify-items: center;

   &__description{
      
      grid-column: 2 / 3;
   }

   &__title {
      position: relative;
      &:after{
         content: '';
         position: absolute;
         background-color: #dfe8ed;
         }
   }

   &__text {
      //width: prc(570,1030);
      //font-size: 18px;
      @include adaptiv-font(18,14);
      font-weight: 400;
      line-height: 26px;
      //letter-spacing: 0.36px;
      margin: 0 auto prc(81, 1030);
      text-align: center;
   }

   &__row {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      column-gap: prc(120, 1000);
      row-gap: 30px;
      //justify-content: center;
      
   }

}

.item-skills {
   display: grid;
   grid-template: minmax(auto, 160px) auto / 1fr;
   grid-auto-flow:row;
   //justify-items: center;
   //align-items: center;
   gap: 32px;

   &__circle {
      max-width: 100%;
      height: 100%;
      //font-size: 50px;
      @include adaptiv-font(50, 36);
      font-weight: 300;
      line-height: 20.84px;
      position: relative;
      padding: 0 0 100% 0;
      p {
         margin: 0;
         position: absolute;
         top: 50%;
         left: 50%;
         margin-right: -50%;
         transform: translate(-50%, -50%);
      }
   }

   &__proc{
      //font-size: 32px;
      @include adaptiv-font (32, 24);
   }

   &__name {
      //font-size: 24px;
      @include adaptiv-font(24,16);
      font-weight: 700;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.48px;
      align-self: center;
      justify-self: center;
   }

}
#item-skills__first{
   background: url(../img/skills/01.png) 0 0/cover no-repeat, url(../img/skills/bg.png) 0 0/cover no-repeat;
}
#item-skills__second{
   background: url(../img/skills/02.png) 0 0/cover no-repeat, url(../img/skills/bg.png) 0 0/cover no-repeat;
}
#item-skills__third{
   background: url(../img/skills/03_1.png) 0 0/cover no-repeat, url(../img/skills/bg.png) 0 0/cover no-repeat;
}
#item-skills__fourth{
   background: url(../img/skills/04.png) 0 0/cover no-repeat, url(../img/skills/bg.png) 0 0/cover no-repeat;
}

.portfolio {
   //font-size: 18px;
   @include adaptiv-font(18, 14);
   font-weight: 400;
   color: #393939;
   background-color: #ffdd99;
   display: grid;
   grid-template: minmax(auto, 200px) minmax(auto, 40px) minmax(auto, 1fr) auto / 1fr prc(1103, 1440) 1fr;
   //justify-items: center;
   padding: prc(119,1440) 0 prc(109,1440) 0;

   &__description{
      grid-column: 2 / 3;
   }

   &__title {
      position: relative;
      &:after{
         content: '';
         position: absolute;
         background-color: #eac884;
         }
   }

   &__text {
      max-width: 570px;
      line-height: 26px;
      //letter-spacing: 0.36px;
      margin: 0 auto 42px;
      text-align: center;
   }

   &__menu {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(4, minmax(min-content,90px));
      gap: 0 10px;
   }

   &__link {
      color: #393939;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.36px;
         div {
            background-color: #ebcb8d;
            min-width: 90px;
            padding: 12px 0;
            border-radius: 4px;
            &:hover {
               background-color: #ffffff;
            }
         } 
   }

   &__row {
      //padding: 60px 0 0 0;
      grid-row: 3 / 4;
      grid-column: 2 / 3;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, prc(511, 1103)));
      //grid-auto-flow: row;
      column-gap: 20px;
      //row-gap: 60px;
      justify-content: center;
      margin: 0 0 prc(83,1103) 0;
   }

   &__button {
      justify-self: center;
      grid-row: 4 / 5;
      grid-column: 2 / 3;
      width: 293px;
      height: 70px;
      background: linear-gradient(to bottom,#17c2a4 0% 94.29%, #14a58b 94.29%);
     //background-color: #eb7d4b;
     //box-shadow: inset 0 -4px 0px #c86a40;
      border-radius: 4px;
      text-align: center;
      line-height: 26.19px;
      letter-spacing: 0.27px;

         a {
         color: #ffffff;
         //font-size: 18px;
         @include adaptiv-font(18, 14);
         font-weight: 400;
      }
   }
}

.item-portfolio {

      display: grid;
      grid-template: minmax(auto, 311px) 1fr / 1fr;
      

   &__img {
      
      position: relative;
      //padding: 0 0 25% 0;

      img{
         object-fit: contain;
         position: absolute;
         top: 0;
         left:0;
         width: 100%;
         height: 100%;
      }
   }

   &__name {
      //justify-self: center;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.36px;
   }
}
.feedback {
   background-color: #d74680;
   color: #ffffff;
   display: grid;
   grid-template: minmax(auto,119px) minmax(auto, 200px) minmax(auto, 1fr) minmax(auto,122px) / auto minmax(auto, 1100px) auto;
   font-size: 18px;
   font-weight: 400;

   &__description{
      grid-row: 2 / 3;
      grid-column: 2 / 3;
   }

   &__title {
      position: relative;
      &:after{
         content: '';
         position: absolute;
         background-color: #b73b6d;
         }
   }

   &__text {
      max-width: 570px;
      line-height: 26px;
      //letter-spacing: 0.36px;
      margin: 0 auto;
      text-align: center;
   }

   &__row {
      //padding: 60px 0 0 0;
      grid-row: 3 / 4;
      grid-column: 2 / 3;
      display: grid;
      grid-template: 1fr / repeat(2, 1fr);
      grid-auto-flow: row;
      gap: 150px 120px;
      justify-content: center;
      //margin: 0 0 83px 0;
}
}

.item-feedback {
   display: grid;
   grid-template: minmax(auto, 100px) 1fr / 100px 1fr;
   gap: 30px 48px;
   justify-items: center;
   align-items: center;

   &__foto {
      background-color: #787878;
      width: 96px;
      height: 96px;
      border-radius: 50%;
   }

   &__text {
      grid-column: 2 / 3;
      font-size: 21px;
      font-style: italic;
      line-height: 31.2px;
      text-align: left;
      //letter-spacing: 0.35px;
      align-self: end;
      justify-self: start;
   }

   &__name {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      font-size: 24px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      //letter-spacing: 0.48px;
      align-self: start;
      justify-self: start;
         & p:last-child{
            margin:10px 0 0 0;
            color: #ffdd99;
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            //letter-spacing: 0.36px;
      }
   }
}
.message {
   background-color: #3c5499;
   color: #ffffff;
   display: grid;
   grid-template: minmax(auto,119px) minmax(auto, 200px) minmax(auto, 1fr) minmax(auto,122px) / minmax(auto,290px) minmax(auto, 1fr) minmax(auto,290px);
   
   &__description{
      grid-row: 2 / 3;
      grid-column: 2 / 3;
   }

   &__title {
      position: relative;
      &:after{
         content: '';
         position: absolute;
         background-color: #273a71;
         }
   }

   &__text {
      /* Style for "1600 Penns" */
      max-width: 782px;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.36px;
      margin: 0 auto;
   }

   &__row {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
   }

   &__form {
      display: grid;
      grid-template: 60px 1fr 70px / 1fr 1fr; 
      grid-template-areas: 
      "username usermail"
      "usermessage usermessage"
      "button button";
      gap: 27px;
      justify-content: space-between;
      div{
         border-radius: 4px;
         //background-color: #273a71;
         
         input, textarea {
            border-radius: 4px;
            background-color: #273a71;            
            padding: 22px 0 0 25px;
            color: #ffffff;
            font-size: 18px;
            font-weight: 400;
            text-align: left;
            
            &::placeholder {
               color: #ffffff;
               /* Style for "Your Name" */
               font-size: 18px;
               font-weight: 400;
               text-align: left;
               
            }

          /*   Не работает
               input [type=text] {
                  &::placeholder
                  {&::after{
                     content: '*';
                     color: #ff4444;
                     font-family: "Arial MT";
                     font-size: 16px;
                     font-style: normal;
                     letter-spacing: normal;
                     line-height: normal;}
                  }
               }
           */
            
         }
         textarea{
            max-width: 100%;
            width: 100%;
            height: 100%;
         }
      }
      }

   &__username {
      grid-area: username;
      max-width: auto;
      min-height: 56px;
      background-color: #273a71;
   }

   &__mail {
      background-color: #273a71;
      grid-area: usermail;
      max-width: auto;
      min-height: 56px;
   }

   &__message {
      background-color: #273a71;
      grid-area: usermessage;
      max-width: auto;
      min-height: 200px;
      }

   &__button {
      grid-area: button;
      width: 293px;
      height: 70px;
      background: linear-gradient(to bottom,#30bae7 0% 94.29%, #299ec4 94.29%);
     //background-color: #eb7d4b;
     //box-shadow: inset 0 -4px 0px #c86a40;
      border-radius: 4px;
      text-align: center;
      line-height: 26.19px;
      letter-spacing: 0.27px;
      color: #ffffff;
      justify-self: center;
   }
}

.footer {
   grid-area: footer;
   background-color: #344b8e;
   display: grid;
   grid-template: 1fr / minmax(10px, prc(251, 1440)) minmax(496px, 1fr) minmax(10px, prc(251, 1440));

   &__menu {
   grid-column: 2 / 3;
   align-content: center;
   @include adaptiv-font(24, 16);
   display: grid;
   }

   &__list {
      
      display: grid;
      //grid-row: 1fr;
      //grid-auto-flow: column;
      grid-template-columns: repeat(auto-fit, minmax(80px, min-content));
      justify-items: start;
      justify-content: space-between;
      @include adaptiv-font(24, 16);
      column-gap: 25px;
      
      li:last-child{
         a{padding: 0;}
      }
   
      a {
      color: #ffffff;
      //font-size: 24px;
      font-weight: 400;
      line-height: em(29.91);
      letter-spacing: em(0.48);
      padding: 0 50px 0 0;
      }
      li:nth-child(2) {
         a {
         color: #30bae7;
         }
      }

   &__link {  
   }
}
}